<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlL6p-uK7LWzAGFf4X1bghBu7iTbQClAM</string>
	<key>GCM_SENDER_ID</key>
	<string>413659611904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.connexia.ristorazione</string>
	<key>PROJECT_ID</key>
	<string>app-gestione-a544a</string>
	<key>STORAGE_BUCKET</key>
	<string>app-gestione-a544a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413659611904:ios:5c7c4c00ed2e5327c4e9e5</string>
</dict>
</plist>